<%= render "layout" %>

<ol class="breadcrumb">
    <div class="links">
        <a href="#" class="btn-round btn-round-md btn-round-primary"><%= material_icon.add.md_24 %></a>
    </div>
    <li>
        <%= link_to "Surveys", survey_index_path %>
    </li>
    <li class="active">All Surveys</li>
</ol>

<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6">
        <h5 class="text-md-blue text-center">Seneca Santa</h5>
        <div class="panel panel-default" style="margin-top: 35px;">
            <div class="panel-body text-center text-muted">
                <center style="margin-top: -45px; margin-bottom: 5px;">
                    <div style="height: 75px; width: 75px; background-color: #2CC5C6; text-align: center; border-radius: 40px; color: #fff; line-height: 75px; font-size: 1.2em;
                    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);">
                        Created
                    </div>
                </center>
                <p style="line-height: 1.4em;">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>
                <hr style="margin: 5px 0px;" />
                <h5 class="text-light-grey">Not Sent</h5>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <h5 class="text-md-blue text-center">CFA Catering</h5>
        <div class="panel panel-default" style="margin-top: 35px;">
            <div class="panel-body text-center text-muted">
                <center style="margin-top: -45px; margin-bottom: 5px;">
                    <div style="height: 75px; width: 75px; background-color: #2CC5C6; text-align: center; border-radius: 40px; color: #fff; line-height: 75px; font-size: 1.2em;
                    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);">
                        Active
                    </div>
                </center>
                <p style="line-height: 1.4em;">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>
                <hr style="margin: 5px 0px;" />
                <h5 class="text-light-grey">20/26 Responses</h5>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <h5 class="text-md-blue text-center">Football Tailgating</h5>
        <div class="panel panel-default" style="margin-top: 35px;">
            <div class="panel-body text-center text-muted">
                <center style="margin-top: -45px; margin-bottom: 5px;">
                    <div style="height: 75px; width: 75px; background-color: #F4a396; text-align: center; border-radius: 40px; color: #fff; line-height: 75px; font-size: 1.2em;
                    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);">
                        Expired aCd5d6
                    </div>
                </center>
                <p style="line-height: 1.4em;">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>
                <hr style="margin: 5px 0px;" />
                <h5 class="text-light-grey">11/01 &ndash; 11/14</h5>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <h5 class="text-md-blue text-center">Clemson Events</h5>
        <div class="panel panel-default" style="margin-top: 35px;">
            <div class="panel-body text-center text-muted">
                <center style="margin-top: -45px; margin-bottom: 5px;">
                    <div style="height: 75px; width: 75px; background-color: #aaa; text-align: center; border-radius: 40px; color: #fff; line-height: 75px; font-size: 1.2em;
                    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);">
                        Archived
                    </div>
                </center>
                <p style="line-height: 1.4em;">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>
                <hr style="margin: 5px 0px;" />
                <h5 class="text-light-grey">10/10 &ndash; 10/17</h5>
            </div>
        </div>
    </div>
</div>
